<article id="gameserver-{{.ID}}">
        <header>
                <h3>ID: {{.ID}}</h3>
        </header>
        <p>Image: {{.Image}}</p>
        <footer>
                <div class="grid">
                        <button class="secondary" hx-patch="/gameservers/{{.ID}}"
                                hx-vals='{"desired_status": "running"}' hx-swap="none">Start</button>
                        <button class="secondary" hx-patch="/gameservers/{{.ID}}"
                                hx-vals='{"desired_status": "stopped"}' hx-swap="none">Stop</button>
                        <button class="outline" hx-delete="/gameservers/{{.ID}}" hx-target="#gameserver-{{.ID}}"
                                hx-swap="outerHTML">Delete</button>
                </div>
        </footer>

        <div hx-get="/gameservers/{{.ID}}/metrics" hx-trigger="every 1s">
        </div>



        <pre style="margin: 0;">
                <code id="logs-container-{{.ID}}" hx-ext="sse" sse-connect="/gameservers/{{.ID}}/logs"
                        hx-swap="beforeend" sse-swap="message"
                        style="background-color: black; color: green; height: 400px; overflow: hidden; white-space: pre-line; padding:0;">
                </code>
        </pre>

        <script>
                document.getElementById('logs-container-{{.ID}}').addEventListener('htmx:sseMessage', function (evt) {
                        document.getElementById('logs-container-{{.ID}}').scrollTop = document.getElementById('logs-container-{{.ID}}').scrollHeight;
                });
        </script>
</article>
