<header>
        <nav hx-boost="true">
                <ul>
                        <li><a>Dashboard</a></li>
                        <li><a href="/gameservers/{{.ID}}/console" hx-target="#gameserver-content">Console</a></li>
                        <li><a href="/gameservers/{{.ID}}/file-viewer" hx-target="#gameserver-content">File Viewer</a>
                        </li>
                        <li><a>Edit Gameserver</a></li>
                </ul>
        </nav>

        <div hx-get="/gameservers/{{.ID}}/metrics" hx-trigger="every 1s">
        </div>
</header>

<div id="gameserver-content">
</div>
