<li id="container-{{.ID}}">
        <div>
                <h3>Container ID: {{.ID}}</h3>
                <p>Image: {{.Image}}</p>
        </div>

        <div>
                <button hx-patch="/api/containers/{{.ID}}" hx-vals='{"desired_status": "running"}'
                        hx-swap="none">Start</button>

                <button hx-patch="/api/containers/{{.ID}}" hx-vals='{"desired_status": "stopped"}'
                        hx-swap="none">Stop</button>
        </div>

        <button hx-delete="/api/containers/{{.ID}}" hx-target="#container-{{.ID}}" hx-swap="outerHTML">Delete</button>
</li>
