<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">

        <script src="/static/htmx.min.js"></script>
        <link rel="stylesheet" href="/static/pico.orange.min.css" />

        <title>Control Panel</title>
</head>

<body>
        <header class="container">
                <nav>
                        <ul>
                                <li><strong>Control Panel</strong></li>
                        </ul>

                        <ul hx-boost="true">
                                <li><a href="/" hx-target="#content">Home</a></li>
                                <li><a href="/containers" hx-target="#content">Containers</a></li>
                                <li><a href="/nodes" hx-target="#content">Nodes</a></li>
                        </ul>
                </nav>
        </header>

        <main id="content" class="container">
                {{embed}}
        </main>
</body>

</html>
