<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="/static/htmx.min.js"></script>
        <link rel="stylesheet" href="/static/tachyons.min.css">

        <title>Index.html</title>
</head>

<body>
        <form hx-post="/api/containers" hx-target="#containers" hx-swap="beforeend">
                <label for="container-id">ID: </label>
                <input name="id" id="container-id" />
                <button type="submit">Submit</button>
        </form>

        <div hx-get="/api/containers" hx-trigger="load">

        </div>
</body>

</html>
